<link rel="stylesheet" href="styles/scss/main/tab.css">
<div ng-controller="AdvanceController as ctrl">
    <form class="basicForm roundedCorner" name="advancedForm">
        <label for="initiative_photo"><h1>Select Photo</h1></label>
        <div class="advanceForm">
            <div class="form-group">
                <input type="file" ng-model="ctrl.filename" valid-file name="file" ng-file-select="onFileSelect($files)" required>
                <i ng-hide="ctrl.imageSrc">No image choosed</i>
            </div>
            <div class="form-group">
                <img ng-src="{{ctrl.imageSrc}}" class="img-responsive" accept="image/*" /><br/>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-success pull-right" ng-click="ctrl.gotoNextTab()" ng-disabled="advancedForm.$invalid">Next</button>
            <button type="submit" class="btn btn-success pull-left" ng-click="ctrl.gotoPreviousTab()">Back</button>
        </div>
    </form>

</div>
