<link rel="stylesheet" href="styles/scss/main/tab.css">

<div ng-controller="PreviewController as ctrl" class="basicForm roundedCorner">

    <div class="row">
        <label><h1>Preview of your initiative</h1></label>
    </div>
    <table class="table  table-hover table-bordered table-striped table-responsive">
        <thead class="tableHeader">
            <tr class="btn-info">
                <th class="tableHeader"><strong>Fields</strong></th>
                <th class="tableHeader"><strong>Details</strong></th>
            </tr>
        </thead>
        <tr class="active">
            <td>Title:</td>
            <td>{{ctrl.newInitiative.title}}</td>
        </tr>
        <tr class="success">
            <td>Description:</td>
            <td>{{ctrl.newInitiative.desc}}</td>
        </tr>
        <tr class="active">
            <td>Initiative Image:</td>
            <td><img ng-src="{{ctrl.newInitiative.img}}" alt="initiative image" class="img-responsive"></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-success pull-left" ng-click="ctrl.gotoPreviousTab()">Back</button></td>
            <td>
                <div class="row">
                    <button type="submit" class="btn btn-info" ng-click="ctrl.cancel()">Cancel</button>
                    <button type="submit" class="btn btn-success" ng-click="ctrl.share()">Share</button>
                </div>
            </td>
        </tr>
    </table>
</div>
